.layout{
  display: flex;
}

.container{
   flex: 1; 
   margin-left: 200px;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  .container {
    margin-left: 0; 
    margin-top: 60px; 
  }
}